.groupSet {
	display: flex;
	position: absolute;
	background-repeat: no-repeat;
	background-size: 422px;
	width: 422px;
	height: 447px;
}
  
.group--path {
	display: flex;
	position: absolute;
	background-image: url(../../public/tools/graphic/path.svg);
	background-repeat: no-repeat;
	background-size: 530px;
	width: 530px;
	height: 529px;
	animation: path 0.3s ease;
	z-index: 1;
}

.groupThree--micro1 {
	opacity: 0;
	background-image: url(../../public/tools/graphic/groupThree/groupThree--micro1.svg);
	animation: tableJump 0.3s ease-out;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
	z-index: 4;
}

.groupThree--micro2 {
	opacity: 0;
	background-image: url(../../public/tools/graphic/groupThree/groupThree--micro2.svg);
	animation: tableJump 0.3s ease-out;
	animation-delay: 0.3s;
	animation-fill-mode: forwards;
	z-index: 4;
}

.groupThree--micro3 {
	opacity: 0;
	background-image: url(../../public/tools/graphic/groupThree/groupThree--micro3.svg);
	animation: tableJump 0.3s ease-in-out;
	animation-delay: 0.4s;
	animation-fill-mode: forwards;
	z-index: 4;
}

.groupThree--bitcoin {
	opacity: 0;
	background-image: url(../../public/tools/graphic/groupThree/groupThree--bitcoin.svg);
	animation: bitcoin 1.5s ease-in-out;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	animation-delay: 1.5s;
	z-index: 3;
}

.groupThree--tableBitcoin {
	opacity: 0;
	background-image: url(../../public/tools/graphic/groupThree/groupThree--tableBitcoin.svg);
	animation: tableBitcoin 0.3s ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 1.2s;
	z-index: 2;
}

.groupThree--laptop {
	background-image: url(../../public/tools/graphic/groupThree/groupThree--laptop.svg);
	animation: upToDown 1.2s ease-in-out;
	z-index: 3;
}

.groupThree--tableLaptop {
	opacity: 0;
	background-image: url(../../public/tools/graphic/groupThree/groupThree--tableLaptop.svg);
	animation: tableJump 0.3s ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 0.8s;
	z-index: 2;
}

.groupThree--lock {
	background-image: url(../../public/tools/graphic/groupThree/groupThree--lock.svg);
	animation: upToDown 1.2s ease-in-out;
	z-index: 3;
}

.groupThree--tableLock {
	opacity: 0;
	background-image: url(../../public/tools/graphic/groupThree/groupThree--tableLock.svg);
	animation: tableJump 0.3s ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 0.9s;
	z-index: 2;
}

.groupThree--microPhone {
	opacity: 0;
	background-image: url(../../public/tools/graphic/groupThree/groupThree--microPhone.svg);
	animation: microPhone 1.8s ease-in-out;
	animation-iteration-count: infinite;
	animation-fill-mode: forwards;
	z-index: 4;
}

.groupThree--phone {
	background-image: url(../../public/tools/graphic//groupThree/groupThree--phone.svg);
	animation: upToDown 1.2s ease-in-out;
	z-index: 3;
}

.groupThree--tablePhone {
	opacity: 0;
	background-image: url(../../public/tools/graphic/groupThree/groupThree--tablePhone.svg);
	animation: tableJump 0.3s ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 0.7s;
	z-index: 2;
}

@keyframes tableJump {
	0% {
		opacity: 0;
		transform: scale(1);
	}

	50% {
		opacity: 1;
		transform: scale(1.1);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes bitcoin {
	0% {
		opacity: 1;
		transform: translateY(0%);
	}

	50% {
		opacity: 1;
		transform: translateY(-3%);
	}
	100% {
		opacity: 1;
		transform: translateX(0%);
	}
}

@keyframes tableBitcoin {
	0% {
		opacity: 0;
		transform: scale(1.5);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes upToDown {
	0% {
		opacity: 0;
		transform: translateY(-10%);
	}
	100% {
		opacity: 1;
		transform: translateY(0%);
	}
}

@keyframes microPhone {
	0% {
		opacity: 0;
		transform: translateY(0%);
		
	}
	50% {
		opacity: 1;
		transform: translateY(3%) translateX(-3%);
	}

	100% {
		opacity: 0;
		transform: translateY(6%) translateX(-6%);
	}
}